<html lang="en" >
<head>
	<title>Text Analyser</title>
</head>
<body style="font-size: 25px;">
<h1> Text Analyzer</h1>

<form action="/analyze" method = "get">
	
	<textarea name="text_area" style="width: 800px; height:300px;"></textarea><BR>
	<input type="checkbox" name="removepunc">Remove Punctiation<BR><BR>
	<input type="checkbox" name="capitalfirst">Capital First Letter<BR><BR>
	<input type="checkbox" name="capitalfirst_all">Capital All First Letter<BR><BR>
		<input type="checkbox" name="capitalall">Capital All Word<BR><BR>
	<button type = "submit"> Analyse Text</button>	
</form>
  
</body>
</html>
